name: Go CI

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    name: Test on Go ${{ matrix.go-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.25", "1.26"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: false # Bağımlılık olmadığı için cache mekanizmasını kapattık, daha hızlı başlar.

      - name: Run Tests (with Race Detector)
        # Bağımlılık indirmeye gerek yok, doğrudan testleri koşturuyoruz.
        run: go test -v -race ./...
